@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.rainbow-background {
  background-image: linear-gradient(to left, 
  hsl(273, 94%, 44%), /* darker violet */
  hsl(221, 86%, 49%), /* darker indigo */
  hsl(240, 100%, 13%)
);

  background-size: 200% 200%;
  animation: rainbow 10s linear infinite;
}

.token-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 16px;
  padding: 16px;
}

@keyframes borderColorChange {
  0% { border-color: #f00; }
  25% { border-color: rgb(0, 143, 0); }
  50% { border-color: rgb(0, 0, 143); }
  75% { border-color: rgb(196, 196, 0); }
  100% { border-color: #f00; }
}

.token-card {
  animation: borderColorChange 10s infinite;
  border: 3px solid; 
  border-radius: 12px;
  box-shadow: 0 12px 4px rgba(0, 0, 0, 0.1);
}


.token-card h2 {
  margin-top: 0;
}

.money-value {
  font-size: 2em;
  transition: color 1s ease-in-out;
}

.money-value.up {
  color: green;
  animation: flash-green 1s;
}

.money-value.down {
  color: red;
  animation: flash-red 1s;
}

@keyframes flash-green {
  0% { background-color: green; }
  100% { background-color: transparent; }
}

@keyframes flash-red {
  0% { background-color: red; }
  100% { background-color: transparent; }
}

@font-face {
  font-family: 'MagicMushroom';
  src: url('./assets/fonts/MagicMushroom.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(5%)
    
  }
  to {
    opacity: 1;
    transform: translateY(0%)
  }
}

.slide-in {
  animation: slideInFromBottom 100ms ease-in forwards;
}