@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.rainbow-background {
  background-image: linear-gradient(to left, 
  hsl(273, 94%, 44%), /* darker violet */
  hsl(221, 86%, 49%), /* darker indigo */
  hsl(240, 100%, 13%)
);

  background-size: 200% 200%;
  animation: rainbow 10s linear infinite;
}
